# token dari bot father, rename jadi .env 
SAFAGO_TELEGRAM_BOT_TOKEN=
SAFAGO_QC_REPORT_CHAT_ID=
TOKEN_API_ODOO=
URL_ODOO_MULAI_PRODUKSI=
URL_ODOO_MULAI_PRODUKSI_BY_ID=
URL_ODOO_SELESAI_PRODUKSI=
URL_ODOO_QC_SCAN_BARANG_JADI=
URL_ODOO_QC_SUBMIT_VALIDASI=
ACCURATE_API_URL=
ACCURATE_API_TOKEN=
ACCURATE_MOCK_MODE=true
